<div class="oembed-card-container">
    <div class="oembed-card" style="background-image:url({{thumbnail_url}});" data-embed="{{embedhtml}}" {{#jshtml}}{{{jshtml}}}{{/jshtml}} >
        <div class="oembed-card-title">{{title}}</div>
        <button class="btn btn-link oembed-card-play" aria-label="{{#str}}playoembed, filter_oembed{{/str}}"></button>
    </div>
</div>
